.table {
    background-color: white;
    border-right: white;
    border-left: white;
    border-collapse: collapse;
    border-radius: 9px;
    width: -webkit-fill-available;

    th {
        background-color: white;
        border-right: white;
        border-left: white;
        border-collapse: collapse;
        height: 47px;
        border-radius: 9px;
        font-weight: bold;
    }

    td {
        background-color: white;
        border-right: white;
        border-left: white;
        border-collapse: collapse;
        height: 47px;
        border-radius: 9px;
        font-weight: normal;
    }
}

.assets {
    font-size: 20px;
    padding-left: 15px;
}

.balance {
    font-size: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;

    @media screen and (max-width: 950px){
        font-size: 18px;
    }

    @media screen and (max-width: 800px){
        font-size: 13px;
    }


}