$lightBlue: rgb(231, 236, 242);
$primaryBlack: #282c34;
$primaryPurple: rgb(57, 50, 156);
$hoverPurple: rgb(95, 88, 190);
$lightPurple: rgb(140, 135, 211);
$primaryWhite: #fafbfc;
$fontStyle: 'Courier New', Courier, monospace;
